body {
	height: 100%;
	overflow: hidden;

	font-size: .875rem;
	transition: .2s;
	&.ambient-lighting {
		background: rgb(0,0,0);
		background: -moz-linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(6,34,54,1) 46%, rgba(11,55,85,1) 60%, rgba(12,64,99,1) 65%, rgba(33,87,124,1) 73%, rgba(83,185,255,1) 100%);
		background: -webkit-linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(6,34,54,1) 46%, rgba(11,55,85,1) 60%, rgba(12,64,99,1) 65%, rgba(33,87,124,1) 73%, rgba(83,185,255,1) 100%);
		background: linear-gradient(145deg, rgba(0,0,0,1) 0%, rgba(6,34,54,1) 46%, rgba(11,55,85,1) 60%, rgba(12,64,99,1) 65%, rgba(33,87,124,1) 73%, rgba(83,185,255,1) 100%);
		&[catagory] {
			.loader {
				display: none;
				opacity: 0;
				transition: 0.2s;
			}
		}
		&[catagory=null] {
			.loader {
				pointer-events: none;
				position: fixed;
				width: 100%;
				height: 100%;
				background: #000000db;
				z-index: 1019;
				display: flex;
				justify-content: center;
				opacity: 1 !important;

				.loader-content {
					top: 25vh;
					position: absolute;
					color: white;
					text-align: center;
					i {
						--fa-animation-duration: 0.5s;
						font-size: 30px;
						margin-bottom: 5px;
					}
				}
			}
						
			backdrop-filter: brightness(0);
			-moz-backdrop-filter: brightness(0);
			-webkit-backdrop-filter: brightness(0);
		}
	}
	&.dark-mode {
		background-color: #0a0a0a;
		color: #ffffff;
	}
			
}
main#ajax-container {
	&:not(.page-shown) {
		opacity: 0;
	}
    transition: 0.5s;
    transition-timing-function: ease-in-out;

	margin-bottom: 180px;
}


.scroll-container {
	width: 100%;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
	overflow-x: hidden;
}
.btn {
	transition: .1s;
	&:active {
		transform: scale(0.95);
	}
}
// main.page-shown {
// 	transform: scale(1) !important;
// 	filter: blur(0px) !important;
// 	opacity: 1 !important;
// 	backdrop-filter: background(0.1px) hue-rotate(0deg);
// }
.card {
	box-shadow: 0 0 10px 1px #0a0a0a;
}
.not-shown {
}
.feather {
	width: 16px;
	height: 16px;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 48px 0 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
	.nav-link {
		font-weight: 500;
		color: #fefefe;
		width: 232px;
		margin: 4px 5px 4px 10px;
		border-radius: 14px;
		.feather {
			margin-right: 4px;
			color: #fff;
		}
		&:hover {
			background: #3b444d;
			.feather {
				color: inherit;
			}
		}
	}
	.nav-link.active {
		box-shadow: 0px 0px 20px 0px black;
		color: #2c7df0;
		background: #3b444d;
		.feather {
			color: inherit;
		}
	}
}
.sidebar-sticky {
	height: calc(100vh - 48px);
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar-heading {
	font-size: .75rem;
}
.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
	img {
		transition: 0.2s;
	}
}
.navbar {
	.navbar-toggler {
		top: .25rem;
		right: 1rem;
	}
	.form-control {
		padding: .75rem 1rem;
	}
}
.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
	&:focus {
		border-color: transparent;
		box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
	}
}
.dark-mode {
	input {
		padding: 0.75rem 0 0rem 0.35rem;
	}
	select {
		padding-left: 0.30rem;
		option {
			background-color: rgb(29, 29, 29);
		}
	}
	.form-control {

		color: white;
		background: transparent;
		border-radius: 0px;
		border: 0px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.519)
	}
}
.mobile-navbar-bg {
	background: #101010;
	bottom:0;
	left:0;
	right:0;
	z-index:1020;
	
	//give nav it's own compsite layer
	will-change:transform;
	transform: translateZ(0);
	
	display:flex;	
}
.mobile-navbar {
    margin-bottom: 4vh;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.card-profile img {
    width: 48px;
}

.card-profile {padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x) !important;align-items: center;}

.card-profile h5 {
    margin-left: 10px;
}

button.nav-btn {
	border: none;
	background: none;
	color: white;
	transition: .1s;
	i {
		font-family: "Font Awesome 6 Pro";
		font-style: normal;
		font-weight: 200;
		font-size: 25px;
	}
	&:active {
		transform: scale(0.7);
	}
}
button.nav-btn.active {
	i {
		font-weight: 600;
	}
}
.top-sel {
	display: flex;
	justify-content: space-between;
	button {
		width: 100%;
		height: 6vh;
		font-weight: 600;
		color: white;
		border-radius: 20px;
		border: 1px solid #ffffff6c;
		background: #ffffff1a;
		transition: 0.1s;
		display: block;
		&:not(:first-child):not(:last-child) {
			margin: 0 10px;
		}

		&:hover {
			color: white;
			background: #ffffff8f;
		}
		&:active {
			&:not(.active) {
				background: #ffffff2b;
				color: rgb(255, 255, 255);
				transform: scale(0.95);
			}
		}
	}
	button.active {
		background: #ffffff80;
		color: white;
		transform: scale(1.05);
	}
}
act {
	position: relative;
	bottom: -30px;
	left: -50px;
}
icon {
	position: relative;
	top: -32px;
	left: -9px;
	font-size: 40px;
}
.bg-blur {
	background: #00000030;
	// backdrop-filter: blur(15px);
	border: 1px solid #ffffff60;
}

a.student-row {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
	cursor: pointer;
}

a.student-row::after {
    content: "\f0da";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    margin-left: auto;
    margin-right: 25px;
    opacity: 0;
    transition: .2s;
}

a.student-row:hover::after  {
    opacity: 1;
    transform: none;
    margin-right: 10px;
}

.student-avatar {
    margin-right: 1rem;
}

.student-avatar img {
    width: 40px;
    border-radius: 5px;
    border: 1px solid #fff5;
}

.student-row:not(:last-child) {
    border-bottom: 1px solid #ffffff50;
}

.student-body {
    border: 1px solid #fff5;
    border-radius: 5px;
    overflow: auto;
    max-height: 250px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  transition: 0.2s width;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff5;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff6; 
}

.card-header {
	padding-bottom: 0 !important;
}
.goals {
	.daily {
		&:hover {
			background: rgba(0, 131, 11, 0.384);
			span {
				color: white !important;
			}
		}
		transition: 0.2s;
	}
	.weekly {
		transition: 0.2s;
	}
	.monthly {
		transition: 0.2s;
	}
}
@media (max-width: 767.98px) {
	.pnav {
		display: none !important;
	}
}
@media (min-width: 767.98px) {
	.mobile-navbar-bg {
		display: none;
	}
}


.emoji-picker {
    display: flex;
    width: 100%;
    border: 1px solid #ffffff60;
    border-radius: 3px;
	overflow: auto;

	button {
		width: 100%;
		height: 50px;
		font-size: 20px;
		background: none;
		transition: .3s;
		border: 0;
		&.active {
			font-size: 30px;
			box-shadow: inset 0 0 11px #a16dd0;
			background: #a16dd030;
		}
	}
}

@media (min-width: 500px) {
	.emoji-warning {
		display: none;
	}
}

.text-custom-404 {
	font-size: 800%;
	background-clip: text;
	font-size: 800%;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(40,36,74,1) 25%, rgba(189,110,255,1) 100%);
	background: -webkit-linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(40,36,74,1) 25%, rgba(189,110,255,1) 100%);
	background: linear-gradient(20deg, rgba(0,0,0,1) 0%, rgba(40,36,74,1) 25%, rgba(189,110,255,1) 100%);	

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

ul.heartbeat-history {
	padding: 0;
	li {
		transition: 0.2s;
		list-style: none;
		list-style-type: none;
		text-align: center;
		background-color: #6633991a;
		margin: 10px 0;
		padding: 10px;
		border: 1px solid white;
		border-radius: 10px;
		box-shadow: inset 0 -5px 8px #b38c8c26;
		&:hover {
			box-shadow: inset 0 -5px 8px #b227276e;
			transform: scale(1.03);		
		}	
	}
}

ul.heartbeat-logs li {
    transition: 0.2s;
    list-style: none;
    list-style-type: none;
    text-align: center;
    background-color: #9933331a;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: inset 0 -5px 8px #b38c8c26;
}

ul.heartbeat-logs {
    padding: 0;
}

ul.heartbeat-logs li:hover {
    box-shadow: inset 0 -5px 8px #b227276e;
    transform: scale(1.03);
}

ul.latest-activity {
    padding: 0;
	li {
		transition: 0.2s;
		list-style: none;
		list-style-type: none;
		text-align: center;
		background-color: #6633991a;
		margin: 10px 0;
		padding: 10px;
		border: 1px solid white;
		border-radius: 10px;
		box-shadow: inset 0 -5px 8px #b38c8c26;
		&:hover {
			box-shadow: inset 0 -5px 8px #7427b26e;
			transform: scale(1.03);		
		}	
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-input-label {
    width: 100%;
    position: relative;
    display: inherit;
}

.form-input-label label {
    position: absolute;
    padding: 5px 1.5px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--bs-gray-600);
    pointer-events: none;
    transition: 0.2s;
}

.form-input-label input::placeholder {
    opacity: 0;
}

.form-input-label input:not(:placeholder-shown) ~ label,
.form-input-label input:focus:not([readonly]) ~ label {
    padding: 0px 5px;
    font-size: 0.75rem;
    color: var(--bs-gray-500);
}

// .form-input-label input:not(:placeholder-shown),
// .form-input-label input:focus
// {
//     padding: 0.75rem 0 0rem 0.35rem
// }

.form-input-label input
{
    transition: 0.2s;
}


button.heart {
    color: #ff6464;
    text-shadow: 0px 6px 12px #383838;
    background: transparent;
    font-size: 150px;
    transition: 0.1s;
}

button.heart:active {
    transform: scale(0.95);
    opacity: 0.6;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

ul.pnav {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}

.pnav .nav-link {
	transition: .2s;
	background: transparent;
	border: 1px solid transparent;
	padding: 5px 20px;
}

.pnav .nav-link:hover {
	background: #ffffff1b;
	border: 1px solid #ffffff55;
	border-radius: 1rem;
}

.pnav li.nav-item {
	margin: 0 20px;
}

.pnav .nav-link.active {
	border-radius: 1rem;
	border: 1px solid #1e6aff75;
	background: #1e6aff05;
	color: #6595f2;
}

.nav-item.shine:not(:hover)::before {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	pointer-events: none;
	position: absolute;
	border-radius: 1rem;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(120deg, rgba(255,255,255,0) 0%, rgba(255,196,56,0) 28%, rgba(255,179,0,1) 50%, rgba(255,187,25,0) 74%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(120deg, rgba(255,255,255,0) 0%, rgba(255,196,56,0) 28%, rgba(255,179,0,1) 50%, rgba(255,187,25,0) 74%, rgba(255,255,255,0) 100%);
	background: linear-gradient(120deg, rgba(255,255,255,0) 0%, rgba(255,196,56,0) 28%, rgba(255,179,0,1) 50%, rgba(255,187,25,0) 74%, rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
	background-position-x: 100px;
	opacity: 0.3;
	border: 1px solid rgba(255,179,0);
	animation-name: gshine;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

.nav-item.shine {
	position: relative;
}

@keyframes gshine {
	from {
		background-position-x: -100px;
	}
	to {
		background-position-x: 200px;
	}
}


@media (display-mode: standalone) {
	.mobile-navbar {
		margin-bottom: 4vh;
	}
	[hidefrom="installed"] {
		display: none;
	}
}

.card {
	margin-top: 10px;
}